In [26]:
import numpy as np
import pandas as pd
from datetime import date

In [27]:
df=pd.read_csv("/content/drive/MyDrive/Team8_Excelerate_AI_Internship/Dataset.csv")

In [28]:
df.head()

,Learner SignUp DateTime,Opportunity Id,Opportunity Name,Opportunity Category,Opportunity End Date,First Name,Date of Birth,Gender,Country,Institution Name,Current/Intended Major,Entry created at,Status Description,Status Code,Apply Date,Opportunity Start Date
0,06/14/2023 12:30:35,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Faria,01/12/2001,Female,Pakistan,Nwihs,Radiology,03/11/2024 12:01:41,Started,1080,06/14/2023 12:36:09,11/03/2022 18:30:39
1,05/01/2023 05:29:16,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Poojitha,08/16/2000,Female,India,SAINT LOUIS,Information Systems,03/11/2024 12:01:41,Started,1080,05/01/2023 06:08:21,11/03/2022 18:30:39
2,04/09/2023 20:35:08,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Emmanuel,01/27/2002,Male,United States,Illinois Institute of Technology,Computer Science,03/11/2024 12:01:41,Started,1080,05/11/2023 1085640:21:29,11/03/2022 18:30:39
3,08/29/2023 05:20:03,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Amrutha Varshini,11/01/1999,Female,United States,Saint Louis University,Information Systems,03/11/2024 12:01:41,Team Allocated,1070,10/09/2023 22:02:42,11/03/2022 18:30:39
4,01/06/2023 15:26:36,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Vinay Varshith,04/19/2000,Male,United States,Saint Louis University,Computer Science,03/11/2024 12:01:41,Started,1080,01/06/2023 15:40:10,11/03/2022 18:30:39

In [29]:
df.isnull().sum()

Learner SignUp DateTime       0
Opportunity Id                0
Opportunity Name              0
Opportunity Category          0
Opportunity End Date          0
First Name                    0
Date of Birth                 0
Gender                        0
Country                       0
Institution Name              5
Current/Intended Major        5
Entry created at              0
Status Description            0
Status Code                   0
Apply Date                    0
Opportunity Start Date     3794
dtype: int64

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8558 entries, 0 to 8557
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Learner SignUp DateTime  8558 non-null   object
 1   Opportunity Id           8558 non-null   object
 2   Opportunity Name         8558 non-null   object
 3   Opportunity Category     8558 non-null   object
 4   Opportunity End Date     8558 non-null   object
 5   First Name               8558 non-null   object
 6   Date of Birth            8558 non-null   object
 7   Gender                   8558 non-null   object
 8   Country                  8558 non-null   object
 9   Institution Name         8553 non-null   object
 10  Current/Intended Major   8553 non-null   object
 11  Entry created at         8558 non-null   object
 12  Status Description       8558 non-null   object
 13  Status Code              8558 non-null   int64
 14  Apply Date               8558 non-null   object
 15  Opportunity Start Date   4764 non-null   object
dtypes: int64(1), object(15)
memory usage: 1.0+ MB

In [31]:
df.drop(columns=['First Name','Institution Name'],inplace=True)

In [32]:
df.head()

,Learner SignUp DateTime,Opportunity Id,Opportunity Name,Opportunity Category,Opportunity End Date,Date of Birth,Gender,Country,Current/Intended Major,Entry created at,Status Description,Status Code,Apply Date,Opportunity Start Date
0,06/14/2023 12:30:35,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,01/12/2001,Female,Pakistan,Radiology,03/11/2024 12:01:41,Started,1080,06/14/2023 12:36:09,11/03/2022 18:30:39
1,05/01/2023 05:29:16,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,08/16/2000,Female,India,Information Systems,03/11/2024 12:01:41,Started,1080,05/01/2023 06:08:21,11/03/2022 18:30:39
2,04/09/2023 20:35:08,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,01/27/2002,Male,United States,Computer Science,03/11/2024 12:01:41,Started,1080,05/11/2023 1085640:21:29,11/03/2022 18:30:39
3,08/29/2023 05:20:03,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,11/01/1999,Female,United States,Information Systems,03/11/2024 12:01:41,Team Allocated,1070,10/09/2023 22:02:42,11/03/2022 18:30:39
4,01/06/2023 15:26:36,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,04/19/2000,Male,United States,Computer Science,03/11/2024 12:01:41,Started,1080,01/06/2023 15:40:10,11/03/2022 18:30:39

In [33]:
df=df.drop_duplicates()

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8558 entries, 0 to 8557
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Learner SignUp DateTime  8558 non-null   object
 1   Opportunity Id           8558 non-null   object
 2   Opportunity Name         8558 non-null   object
 3   Opportunity Category     8558 non-null   object
 4   Opportunity End Date     8558 non-null   object
 5   Date of Birth            8558 non-null   object
 6   Gender                   8558 non-null   object
 7   Country                  8558 non-null   object
 8   Current/Intended Major   8553 non-null   object
 9   Entry created at         8558 non-null   object
 10  Status Description       8558 non-null   object
 11  Status Code              8558 non-null   int64
 12  Apply Date               8558 non-null   object
 13  Opportunity Start Date   4764 non-null   object
dtypes: int64(1), object(13)
memory usage: 936.2+ KB

In [35]:
np.unique_counts(df['Opportunity Id'])

UniqueCountsResult(values=array(['00000000-0GHB-4N83-QX9K-JM48K2', '00000000-0GHG-N3NG-584M-44MK40',
       '00000000-0GN2-A0AY-7XK8-C5FZPP', '00000000-0GNT-FT74-MZT8-93VC0G',
       '00000000-0GRA-BD28-CXVV-EYEX21', '00000000-0GWQ-AXC5-X45C-2MHJ28',
       '00000000-0GZY-NNHV-FJWW-PTA9VX', '00000000-100J-PM3A-0WJ8-5T68M5',
       '00000000-101B-RJY9-TVWC-6XG9BH', '00000000-101Y-HSX2-0DFJ-QCKQBR',
       '00000000-104G-3FS6-3SV3-JKHVQB', '00000000-106T-FSAJ-KDBX-40ZGNV',
       '00000000-10A5-TYD2-181G-D2J679', '00000000-10CD-3CAK-3FZK-9VXKRM',
       '00000000-10GG-17ZM-AP4T-WQVBGQ', '00000000-10GQ-RJHT-3G4S-BKGBY1',
       '00000000-10QW-PYTT-CJCX-7VQBTT', '00000000-10RQ-JXA9-NNKD-EW5RCF',
       '00000000-10S6-HVRK-ZDAM-90C0F8', '00000000-10SA-ZXDA-E05A-N2CGAN',
       '00000000-10WC-BS50-CYGD-X97ES4', '00000000-10WW-X340-GTVH-RR52VF',
       '00000000-10YM-B80K-RNNJ-YAVQ7V'], dtype=object), counts=array([ 836,    4, 1423,  559,  784,  980,  419,  192,  483,   55,   46,
        138,  116,  331,  551,  237,  121,  112,  262,  478,  389,   33,
          9]))

In [36]:
df['Opportunity Id'] = df['Opportunity Id'].str.replace('00000000-', '', regex=False)

In [37]:
df.head()

,Learner SignUp DateTime,Opportunity Id,Opportunity Name,Opportunity Category,Opportunity End Date,Date of Birth,Gender,Country,Current/Intended Major,Entry created at,Status Description,Status Code,Apply Date,Opportunity Start Date
0,06/14/2023 12:30:35,0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,01/12/2001,Female,Pakistan,Radiology,03/11/2024 12:01:41,Started,1080,06/14/2023 12:36:09,11/03/2022 18:30:39
1,05/01/2023 05:29:16,0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,08/16/2000,Female,India,Information Systems,03/11/2024 12:01:41,Started,1080,05/01/2023 06:08:21,11/03/2022 18:30:39
2,04/09/2023 20:35:08,0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,01/27/2002,Male,United States,Computer Science,03/11/2024 12:01:41,Started,1080,05/11/2023 1085640:21:29,11/03/2022 18:30:39
3,08/29/2023 05:20:03,0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,11/01/1999,Female,United States,Information Systems,03/11/2024 12:01:41,Team Allocated,1070,10/09/2023 22:02:42,11/03/2022 18:30:39
4,01/06/2023 15:26:36,0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,04/19/2000,Male,United States,Computer Science,03/11/2024 12:01:41,Started,1080,01/06/2023 15:40:10,11/03/2022 18:30:39

In [38]:
np.unique_counts(df['Opportunity Name'])

UniqueCountsResult(values=array(['AI Ethics Challenge', 'Business Consulting',
       'CPR/AED Certification',
       'Career Essentials: Getting Started with Your Professional Journey',
       'Data Visualization', 'Data Visualization Associate',
       'Digital Marketing', 'Digital Strategy Virtual Internship',
       'Freelance Mastery workshop', 'Health Care Management',
       'Innovation & Entrepreneurship', 'Join a Student Organisation',
       'Jump Start: Developing your Emotional Intelligence',
       'Mental and Physical Health Session', 'Project Management',
       'Project Management Associate',
       'Slide Geeks: A Presentation Design Competition',
       'Startup Mastery Workshop', 'UX Redesign Challenge',
       'Upload Your First Year Transcript', 'UrbanRenew Challenge',
       'Xperience Design Hackathon'], dtype=object), counts=array([  55,  483,  389, 1423,  980,  551,  559,  331,  237,  784,  419,
        121,  225,   46,  836,  478,    4,  262,  112,    9,  138,  116]))

In [39]:
df['Current/Intended Major'].value_counts(dropna=False)

Current/Intended Major
Information Systems             2158
Computer Science                1052
Health Data Science              371
Cyber Security                   326
Computer Information Systems     250
                                ...
High School                        1
Multimedia Communication           1
Otheraassss                        1
Early Childhood Education          1
Islamic Studies                    1
Name: count, Length: 407, dtype: int64

In [40]:
df['Current/Intended Major'] = df['Current/Intended Major'].fillna('Other')

df['Current/Intended Major'].value_counts(dropna=False)

Current/Intended Major
Information Systems             2158
Computer Science                1052
Health Data Science              371
Cyber Security                   326
Computer Information Systems     250
                                ...
International Business             1
Actuarial Science                  1
Education Administration           1
Zack                               1
Pos Service                        1
Name: count, Length: 406, dtype: int64

In [41]:
np.unique(df['Current/Intended Major'])

array(['ACCOUNTING', 'ANALYTICS', 'AVIATION ADMINISTRATION', 'Aa',
       'Accountancy', 'Accounting', 'Accounting and Finance',
       'Actuarial Mathematics', 'Actuarial Science', 'Advertising',
       'Advertising and Packaging', 'Aeronautical Engineering',
       'Aeronautics', 'Aerospace Engineering', 'After Bachelor',
       'Agricultural Economics and Farm Management',
       'Agricultural Extension and Education', 'Agriculture and Forestry',
       'Airline Pilot', 'Already Graduation Completed',
       'American Sign Language Interpretation', 'Analysis', 'Analytics',
       'Anatomy and Physiology', 'Animal Production',
       'Animal Production and Health', 'Animal Science',
       'Applied Analytics', 'Applied Financial Economics',
       'Applied Geophysics', 'Archaeology',
       'Archeology and Cinematography', 'Architectural Engineering',
       'Architecture', 'Art and Design', 'Artificial Intelligence',
       'Artificial Intelligence and Data Science',
       'Artificial Intelligence and Machine learning',
       'Artificial Intelligence and Robotics', 'Arts',
       'Associate of Science', 'Automotive Engineering',
       'Autonomous Systems and Robotics', 'Aviation Maintenance',
       'Aviation Management', 'B Sc', 'B TECH', 'B Tech', 'BAF', 'BBA',
       'BCA', 'BCOM International Business', 'BSC Cs', 'BSIT', 'Ba Psych',
       'Bachelor', 'Bachelor Degree in Nursing', 'Bachelor of Computer',
       'Bachelor of Engineering', 'Bachelor of Laws',
       'Bachelor of Medicine Bachelor of Surgery', 'Bba Hr', 'Bcom',
       'Biochemistry', 'Bioengineering', 'Bioinformatics',
       'Biological Sciences', 'Biology', 'Biomedical Engineering',
       'Biomedical Science', 'Biotechnology', 'Bnsc Nursing Science',
       'Brand Strategy', 'Bs Forestry and Wildlife Management', 'Bsc',
       'Bsc Agri', 'Bsc Nursing', 'Bsc Physician Assistant',
       'Bsc in Computer Science', 'Btech', 'Business',
       'Business Administration', 'Business Analytics',
       'Business Chinese', 'Business Education', 'Business Informatics',
       'Business Information Systems', 'Business and Management Studies',
       'COMPUTER SCIENCE and DESIGN', 'Carpentry and Joinery',
       'Certificate', 'Certification', 'Chemical Engineering',
       'Chemistry', 'Civil Engineering',
       'Civil and Structural Engineering', 'Clinical Research',
       'Cloud Computing', 'Commerce', 'Communication',
       'Communication and Language Arts Education',
       'Communication and Media Studies',
       'Communication and Software Engineer', 'Communications',
       'Community Health Officer', 'Computer', 'Computer Applications',
       'Computer Engineering', 'Computer Information Systems',
       'Computer Networking and IT Security', 'Computer Science',
       'Computer Science Engineering',
       'Computer Science and Business Systems',
       'Computer Science and Design', 'Computer Science and Engineering',
       'Computer Science and Information Systems',
       'Computer Science with Internet of Things',
       'Computer and Information Sciences',
       'Computer and Information Sciencess',
       'Computer and Infromation Sciences', 'Computer applications',
       'Computer science engineering', 'Computing',
       'Construction Engineering and Management', 'Could Computing',
       'Cyber Forensics and Security', 'Cyber Security',
       'Cyber Security and Digital Forensics', 'Cybersecurity', 'Cycw',
       'DOCTOR of PHARMACY', 'Data Analysis', 'Data Analyst',
       'Data Analytics', 'Data Sceince', 'Data Science',
       'Data Science and Artificial Intelligence',
       'Data Science and Business Analytics', 'Data Visualization',
       'Data science', 'Degree', 'Dentistry', 'Development Economics',
       'Development Studies', 'Dietetics', 'Digital Marketing',
       'Digital Media', 'Diploma', 'Diploma in Automation and Robotics',
       'Diploma in Visual Effects', 'Dropped Out',
       'ECONOMICS and FINANCE', 'ENGINEERING Management',
       'ESports and Game Development', 'Early Childhood Education',
       'Earth and Marine Sciences', 'Economics',
       'Economics and Econometrics', 'Education Administration',
       'Education Management', 'Education and Geography',
       'Education and Training', 'Eee', 'Electrical Engineer',
       'Electrical Engineering', 'Electrical and Computer Engineering',
       'Electrical and Electronic Engineering',
       'Electronics and Communication',
       'Electronics and Communication Engineering',
       'Electronics and Computer Engineering',
       'Electronics and Computer Science',
       'Electronics and Computer Science Engineering',
       'Electronics and Computers Engineering',
       'Electronics and Instrumentation',
       'Electronics and Telecommunication Engineering', 'Engineering',
       'Engineers Physics', 'English', 'English Language and Literature',
       'English Linguistics', 'Entrepreneurship',
       'Entrepreneurship Studies', 'Environmental Sciences',
       'Environmental Sustainability',
       'Environmental and Safety Engineering', 'Epidemiology',
       'Estate Management', 'Faizan', 'Film Making', 'Finance',
       'Finance and Banking', 'Financial Technology', 'Fisheries',
       'Food Process Engineering', 'Food Safety and Technology',
       'Food Science', 'Forensic', 'Forensic Science', 'Fresher',
       'Functional Engineering', 'GENERAL MANAGEMENT', 'Gamer', 'General',
       'General Arts', 'General Management', 'General Practitioner',
       'General Science', 'Geographic Information Science', 'Geography',
       'Geoinformatics and Geospatial Analytics', 'Geology', 'Ghj',
       'Goodcreativity', 'Guidance and Counseling', 'Ha',
       'Health Care Management', 'Health Data Science',
       'Health Education', 'Health Informatics',
       'Health Information Management', 'Health Management',
       'Health Sciences', 'Health Systems Management and Development',
       'Healthcare Management', 'High School', 'High School Certificate',
       'High School Student', 'History', 'Home Economics', 'Home Tutor',
       'Honours', 'Hospitality and Leisure Management',
       'Human Development and Family Science',
       'Human Nutrition and Dietetics', 'Human Resource',
       'Human Resources', 'I Am Major', 'INFORMATION SYSTEMS', 'ISE',
       'IT', 'Industrial Engineering', 'Informatics', 'Information',
       'Information Engineering', 'Information Science',
       'Information Studies', 'Information Systems',
       'Information Technology', 'Information Technology and Management',
       'Information and Communication Engineering', 'Information systems',
       'Information technology', 'Information technology Management',
       'Information technology and management', 'International Business',
       'International Business Management', 'International Development',
       'International Relations', 'Islamic Studies', 'Job', 'Journalism',
       'Land Economy', 'Law', 'Law and Legal Studies', 'Leadership',
       'Leadership and Organizational development',
       'Library and Information Management', 'Linguistics', 'Logistics',
       'Lower Credit', 'MASTERS in INFORMATION SYSTEMS', 'MBA', 'MBBS',
       'MCA', 'MECHANICAL', 'MMG',
       'MS Biostatistics and Health Analytics', 'MS in Cybersecurity',
       'MS in Information Science Machine Learning',
       'MS in Supply Chain Management',
       'MSc in Computational Decision Science and Operations Research',
       'MSc in Information technology', 'Machine Learning', 'Management',
       'Management Information Systems',
       'Management Science and Analytics', 'Manager',
       'Manufacturing Engineering', 'Marketing', 'Marketing Analytics',
       'Mass Communication', 'Master in VLSI and Microelectronics',
       'Master of Public Health', 'Masters',
       'Masters in Computer Science', 'Masters in Information Systems',
       'Mathematics', 'Mechanical Engineering',
       'Mechanical and Aerospace Engineering', 'Mechatronics Engineering',
       'Medical Informatics', 'Medical Laboratory',
       'Medical Laboratory Science',
       'Medical Marketing or Medical Administration', 'Medical Science',
       'Medical Sciences', 'Medicine',
       'Metallurgy and Materials Engineering', 'Microbiology',
       'Midwifery', 'Mineral and Mining Engineering',
       'Monitoring and Evaluation', 'Ms in Analytics',
       'Msc cyber forensics and security',
       'Msc in Disaster Management and Climate Sustainability Studies',
       'Msters in Healthcare Administration', 'Multimedia Communication',
       'Music', 'Na', 'Network and Information Security', 'Neuroscience',
       'Nil', 'No', 'Non', 'Not Know Ab', 'Nurse', 'Nursing',
       'Nutrition Science', 'Occupational Therapy', 'Ot', 'Oth', 'Othe',
       'Other', 'Otheraassss', 'Paediatric Surgery', 'People Analytics',
       'Performing Arts', 'Petroleum Engineering',
       'Pharmacy and Pharmacology', 'Philosophy', 'Physical Therapy',
       'Physics', 'Physics and Astronomy', 'Physiotherapy', 'Poetry',
       'Pol', 'Political Science', 'Political Science and Spanish',
       'Politics', 'Pos Service',
       'Post Graduate Diploma in Public Health', 'Pre Engg',
       'Procurement', 'Procurement and Supply Chain Management',
       'Professional Courses', 'Program in Exploratory Studies',
       'Project Management', 'Psychology', 'Public Administration',
       'Public Health', 'Pure and Applied Physics', 'Pursuing MCA', 'Pv',
       'Quantity Surveying', 'Radiation Therapy', 'Radiography',
       'Radiology', 'Rehabilitation and Mental Health Counseling',
       'Remote Sensing', 'Research', 'Respiratory Therapy',
       'Robotics and Automation Engineering', 'SUPPLY CHAIN MANAGEMENT',
       'Sdada', 'Secretarial', 'Shaista', 'Social Development and Policy',
       'Social Policy and Administration', 'Social S', 'Social Work',
       'Sociology', 'Software Engineering', 'Soil Science and Technology',
       'Speech and Language Therapy', 'Statistics',
       'Statistics and Computeri Science',
       'Statistics and Operational Research', 'Student',
       'Supply Chain Management', 'Systems Engineering', 'TE',
       'Tech and Business Management', 'Telecommunication Engineering',
       'Textile', 'Textile Engineering',
       'Theology or Divinity and Religious Studies', 'To Study',
       'Unemployed', 'Urban and Housing Development',
       'Veterinary Science', 'Voice Performance',
       'Working As Software Devloper', 'Www', 'Yoganand Sir', 'Zack',
       'Zoology'], dtype=object)

In [42]:
df['Current/Intended Major']=df['Current/Intended Major'].str.lower()
df['Current/Intended Major'].value_counts(dropna=False)

Current/Intended Major
information systems             2173
computer science                1052
health data science              371
cyber security                   326
computer information systems     250
                                ...
home tutor                         1
bachelor degree in nursing         1
education administration           1
zack                               1
pos service                        1
Name: count, Length: 392, dtype: int64

In [43]:
rare_categories = ['aa','certificate', 'certification','cycw','degree','eee','faizan','ghj','ha','i am major','na','nil', 'no', 'non', 'not know ab','ot', 'oth', 'othe','ise',
        'otheraassss','pol','pv','shaista','te','www', 'yoganand sir', 'zack','after bachelor','already graduation completed','sdada','mmg','pos service','home tutor',
        'development studies','professional courses','goodcreativity','fresher', 'gamer', 'general','general practitioner','pursuing mca','monitoring and evaluation','lower credit',
        'leadership','leadership and organizational development','guidance and counseling','diploma','carpentry and joinery']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(rare_categories, 'other')

temp = ['accountancy', 'accounting', 'accounting and finance']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'accounting')

temp = ['economics','economics and econometrics', 'economics and finance','applied financial economics','finance', 'finance and banking', 'financial technology','home economics',
        'development economics', 'development studies','land economy']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'economics and finance')

temp = ['actuarial mathematics', 'actuarial science']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'actuarial science')

temp = ['advertising','advertising and packaging']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'advertising')

temp = ['aeronautical engineering','aeronautics', 'aerospace engineering']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'aeronautics')

temp = ['agricultural economics and farm management','agricultural extension and education', 'agriculture and forestry','bsc agri','soil science and technology']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'agriculture')

temp = ['analysis', 'analytics','applied analytics','data analysis', 'data analyst', 'data analytics','business analytics','ms in analytics','data visualization',
        'marketing analytics','ms biostatistics and health analytics','people analytics']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'analytics')

temp = ['archaeology','archeology and cinematography']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'archeology')

temp = ['artificial intelligence','artificial intelligence and data science','artificial intelligence and machine learning','artificial intelligence and robotics']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'artificial intelligence')

temp = ['art and design','general arts','poetry','diploma in visual effects']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'arts')

temp = ['aviation administration','aviation maintenance', 'aviation management']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'aviation')

temp = ['computer and information sciences','computer and information sciencess','computer and infromation sciences', 'computer applications','computer engineering','computer information systems',
       'computer networking and it security', 'computer science','computer science and business systems','computer science and design', 'computer science and engineering',
       'computer science and information systems','computer science engineering','computer science with internet of things', 'computing','bachelor of computer','bsc in computer science',
        'software engineering','working as software devloper','bsc cs','computer','masters in computer science']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'computer science')

temp = ['cyber forensics and security', 'cyber security','cyber security and digital forensics', 'cybersecurity','ms in cybersecurity','msc cyber forensics and security']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'cybersecurity')

temp = ['data sceince','data science', 'data science and artificial intelligence','data science and business analytics','machine learning','ms in information science machine learning']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'data science')

temp = ['could computing']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'cloud computing')

temp = ['autonomous systems and robotics','diploma in automation and robotics','robotics and automation engineering']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'robotics')

temp = ['electrical and computer engineering','electrical and electronic engineering', 'electrical engineer','electrical engineering']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'electrical engineering')

temp = ['electronics and communication','electronics and communication engineering','electronics and computer engineering','electronics and computer science','electronics and computer science engineering',
       'electronics and computers engineering','electronics and instrumentation','electronics and telecommunication engineering','master in vlsi and microelectronics']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'electronics engineering')

temp = ['social development and policy','social policy and administration', 'social s', 'social work','sociology']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'social work')

temp = ['bachelor degree in nursing','bachelor of medicine bachelor of surgery','biochemistry', 'bioengineering','bioinformatics', 'biological sciences', 'biology',
        'biomedical engineering', 'biomedical science', 'biotechnology','bnsc nursing science','doctor of pharmacy','health care management', 'health data science',
        'health education', 'health informatics','health information management', 'health management','health sciences', 'health systems management and development',
        'healthcare management','medical informatics', 'medical laboratory','medical laboratory science','medical marketing or medical administration', 'medical science',
        'medical sciences','neuroscience','nurse', 'nursing', 'nutrition science', 'occupational therapy','paediatric surgery','pharmacy and pharmacology','physical therapy',
        'physiotherapy','post graduate diploma in public health','public health','speech and language therapy','bsc nursing', 'bsc physician assistant','dentistry', 'dietetics',
        'rehabilitation and mental health counseling','msters in healthcare administration','master of public health','human nutrition and dietetics','clinical research','microbiology',
        'midwifery','veterinary science','respiratory therapy']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'medicine')

temp = ['b sc', 'b tech', 'ba psych', 'bachelor','baf', 'bba', 'bba hr', 'bca', 'bcom','bsit', 'btech','bsc']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'bachelors degree')

temp = ['mba','mbbs','mca','masters']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'masters degree')

temp = ['business', 'business administration','business and management studies', 'business chinese','business education', 'business informatics','business information systems','bcom international business']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'business')

temp = ['communication', 'communication and language arts education','communication and media studies','communication and software engineer', 'communications','mass communication',
        'multimedia communication']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'communications')

temp = ['education administration','education and geography', 'education and training','education management']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'education administration')

temp = ['engineering management','engineers physics','functional engineering','chemical engineering','civil and structural engineering','civil engineering','petroleum engineering',
        'industrial engineering','systems engineering', 'telecommunication engineering','construction engineering and management','manufacturing engineering',
        'mineral and mining engineering','automotive engineering','bachelor of engineering']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'engineering')

temp = ['informatics','information', 'information and communication engineering','information engineering', 'information science','information studies', 'information systems',
       'information technology', 'information technology and management','information technology management','masters in information systems','network and information security',
        'msc in information technology']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'it')

temp = ['food process engineering', 'food safety and technology','food science']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'food science')

temp = ['high school','high school certificate', 'high school student','to study','student','pre engg','early childhood education']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'high school')

temp = ['statistics','statistics and computeri science','statistics and operational research']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'statistics')

temp = ['management','management information systems','management science and analytics', 'manager','tech and business management','ms in supply chain management',
        'general management','community health officer','library and information management','hospitality and leisure management','metallurgy and materials engineering',
        'estate management','procurement', 'procurement and supply chain management','project management','supply chain management','brand strategy', 'business']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'management')

temp = ['english','english language and literature', 'english linguistics']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'english')

temp = ['mechanical', 'mechanical and aerospace engineering','mechanical engineering', 'mechatronics engineering']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'mechanical engineering')

temp = ['general science','geographic information science','physics','physics and astronomy','chemistry','associate of science','applied geophysics','pure and applied physics']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'science')

temp = ['political science','political science and spanish', 'politics']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'political science')

temp = ['animal production','animal production and health', 'animal science','fisheries','bs forestry and wildlife management']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'animal science')

temp = ['film making','music','performing arts','voice performance']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'performing arts')

temp = ['forensic', 'forensic science']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'forensic')

temp = ['law', 'law and legal studies','bachelor of laws']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'law')

temp = ['geography','geoinformatics and geospatial analytics', 'geology']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'geography')

temp = ['environmental and safety engineering', 'environmental sciences','environmental sustainability', 'epidemiology','earth and marine sciences']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'environmental sciences')

temp = ['entrepreneurship', 'entrepreneurship studies']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'entrepreneurship')

temp = ['international business', 'international business management','international development', 'international relations']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'international relations')

temp = ['human development and family science', 'human resource','human resources']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'human resources')

temp = ['architectural engineering', 'architecture','urban and housing development']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'architecture')

temp = ['radiation therapy', 'radiography', 'radiology']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'radiology')

temp = ['linguistics','english','islamic studies']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'linguistics')

temp = ['msc in computational decision science and operations research','msc in disaster management and climate sustainability studies','research','program in exploratory studies']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'research')

temp = ['textile', 'textile engineering']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(temp, 'textile')

In [44]:
np.unique(df['Current/Intended Major'])

array(['accounting', 'actuarial science', 'advertising', 'aeronautics',
       'agriculture', 'airline pilot',
       'american sign language interpretation', 'analytics',
       'anatomy and physiology', 'animal science', 'archeology',
       'architecture', 'artificial intelligence', 'arts', 'aviation',
       'bachelors degree', 'cloud computing', 'commerce',
       'communications', 'computer science', 'cybersecurity',
       'data science', 'digital marketing', 'digital media',
       'dropped out', 'economics and finance', 'education administration',
       'electrical engineering', 'electronics engineering', 'engineering',
       'entrepreneurship', 'environmental sciences',
       'esports and game development', 'food science', 'forensic',
       'geography', 'high school', 'history', 'honours',
       'human resources', 'international relations', 'it', 'job',
       'journalism', 'law', 'linguistics', 'logistics', 'management',
       'marketing', 'masters degree', 'mathematics',
       'mechanical engineering', 'medicine', 'other', 'performing arts',
       'philosophy', 'political science', 'psychology',
       'public administration', 'quantity surveying', 'radiology',
       'remote sensing', 'research', 'robotics', 'science', 'secretarial',
       'social work', 'statistics', 'textile',
       'theology or divinity and religious studies', 'unemployed',
       'zoology'], dtype=object)

In [45]:
df['Current/Intended Major'].value_counts(dropna=False)

Current/Intended Major
it                                       2436
computer science                         1984
medicine                                  947
analytics                                 493
cybersecurity                             339
                                         ...
logistics                                   1
unemployed                                  1
remote sensing                              1
honours                                     1
american sign language interpretation       1
Name: count, Length: 72, dtype: int64

In [46]:
df['Date of Birth'] = pd.to_datetime(df['Date of Birth'])

def calculate_age(born):
    today = date.today()
    born = born.date() if hasattr(born, 'date') else born
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

df['Age'] = df['Date of Birth'].apply(calculate_age)

# 4. (Optional) Check the result
print(df[['Date of Birth', 'Age']].head())
df.drop(columns=['Date of Birth'],inplace=True)

  Date of Birth  Age
0    2001-01-12   24
1    2000-08-16   24
2    2002-01-27   23
3    1999-11-01   25
4    2000-04-19   25

In [47]:
date_cols = [
    "Learner SignUp DateTime",
    "Opportunity End Date",
    "Entry created at",
    "Apply Date",
    "Opportunity Start Date"
]

# 1. Convert each to datetime (invalid parses  NaT)
for col in date_cols:
    df[col] = pd.to_datetime(df[col], errors='coerce')

# 2. Split out components
for col in date_cols:
    df[f"{col}_year"]   = df[col].dt.year
    df[f"{col}_month"]  = df[col].dt.month
    df[f"{col}_day"]    = df[col].dt.day
    df[f"{col}_hour"]   = df[col].dt.hour
    df[f"{col}_minute"] = df[col].dt.minute
    df[f"{col}_second"] = df[col].dt.second

# 3. Drop the original datetime columns
df.drop(columns=date_cols, inplace=True)

In [49]:
df.head()

,Opportunity Id,Opportunity Name,Opportunity Category,Gender,Country,Current/Intended Major,Status Description,Status Code,Age,Learner SignUp DateTime_year,...,Apply Date_day,Apply Date_hour,Apply Date_minute,Apply Date_second,Opportunity Start Date_year,Opportunity Start Date_month,Opportunity Start Date_day,Opportunity Start Date_hour,Opportunity Start Date_minute,Opportunity Start Date_second
0,0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,Female,Pakistan,radiology,Started,1080,24,2023.0,...,14.0,12.0,36.0,9.0,2022.0,11.0,3.0,18.0,30.0,39.0
1,0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,Female,India,it,Started,1080,24,2023.0,...,1.0,6.0,8.0,21.0,2022.0,11.0,3.0,18.0,30.0,39.0
2,0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,Male,United States,computer science,Started,1080,23,2023.0,...,NaN,NaN,NaN,NaN,2022.0,11.0,3.0,18.0,30.0,39.0
3,0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,Female,United States,it,Team Allocated,1070,25,2023.0,...,9.0,22.0,2.0,42.0,2022.0,11.0,3.0,18.0,30.0,39.0
4,0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,Male,United States,computer science,Started,1080,25,2023.0,...,6.0,15.0,40.0,10.0,2022.0,11.0,3.0,18.0,30.0,39.0

In [50]:
suffixes = ['year', 'month', 'day', 'hour', 'minute', 'second']

for col in df.columns:
    if any(col.endswith(f"_{suf}") for suf in suffixes):
        median_val = df[col].median()
        df[col].fillna(median_val, inplace=True)

<ipython-input-50-1f73a9dc43c0>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_val, inplace=True)

In [52]:
df.isnull().sum()

Opportunity Id                    0
Opportunity Name                  0
Opportunity Category              0
Gender                            0
Country                           0
Current/Intended Major            0
Status Description                0
Status Code                       0
Age                               0
Learner SignUp DateTime_year      0
Learner SignUp DateTime_month     0
Learner SignUp DateTime_day       0
Learner SignUp DateTime_hour      0
Learner SignUp DateTime_minute    0
Learner SignUp DateTime_second    0
Opportunity End Date_year         0
Opportunity End Date_month        0
Opportunity End Date_day          0
Opportunity End Date_hour         0
Opportunity End Date_minute       0
Opportunity End Date_second       0
Entry created at_year             0
Entry created at_month            0
Entry created at_day              0
Entry created at_hour             0
Entry created at_minute           0
Entry created at_second           0
Apply Date_year                   0
Apply Date_month                  0
Apply Date_day                    0
Apply Date_hour                   0
Apply Date_minute                 0
Apply Date_second                 0
Opportunity Start Date_year       0
Opportunity Start Date_month      0
Opportunity Start Date_day        0
Opportunity Start Date_hour       0
Opportunity Start Date_minute     0
Opportunity Start Date_second     0
dtype: int64

In [53]:
df.to_csv('preprocessed_data_veer.csv', index=False)